body {
    margin: 0;
    padding: 0;
}

nav {
    background: #cccccc;
    padding: 20px 0;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: auto;
}

@media (min-width: 420px) {
    .container {
        background: red;
    }  
}

@media (min-width: 768px) {
    .container {
        background: blue;
    }  
}

@media (min-width: 991px) {
    .container {
        background: yellow;
    }  
}

@media (min-width: 1200px) {
    .container {
        background: green;
    }  
}
.float-left {
    float: left;
}

.fix-img {
    width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
}

nav ul {
    margin-left: auto;   
}

.brand-name {
    color: darkblue;
    font-size: 1.3em;
}

nav ul li {
    display: inline-block;
    padding: 0 20px;
}

li.active a {
    color: darkblue;
    font-weight: bold;
}

nav li a:hover {
    color: #888888;
}

#blog-headline {
    padding: 30px 0;
}

#blog-headline h1 {
    font-size: 2em;
    padding-bottom: 10px;
}

#blog-headline p {
    text-align: justify;
    line-height: 25px;
    font-family: sans-serif cursive;
}

#blog-headline p a {
    color: darkblue;
    font-size: 1.1em;
}

.blog-img img {
    height: 200px;   
}

.blog-news {
    flex-basis: 29%;
    position: relative;
}

.blog-news-img {
    height: 140px;
    overflow-y: hidden;
    border: 1px solid #cccccc;
}

.blog-news p {
    line-height: 23px;
    z-index: 1;
}